footer.bar {
    width: 100%;
    height: 100px;
    bottom: 0px;
    display: flex;
    position: absolute;
    clip-path: polygon(0% 10%,
            5% 10%,
            6% 0%,
            35% 0%,
            36% 10%,
            64% 10%,
            65% 0%,
            94% 0%,
            95% 10%,
            100% 10%,
            100% 90%,
            75% 90%,
            74% 100%,
            26% 100%,
            25% 90%,
            0% 90%);
    background: #009FD6;
    align-items: center;
    background-size: inherit;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
}

footer.bar button {
    border: 0;
    border-color: transparent;
    background-color: transparent;
}

canvas#skin {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
}