footer {
    /* clip-path: polygon(0% 10%,
            5% 10%,
            6% 0%,
            35% 0%,
            36% 10%,
            64% 10%,
            65% 0%,
            94% 0%,
            95% 10%,
            100% 10%,
            100% 90%,
            75% 90%,
            74% 100%,
            26% 100%,
            25% 90%,
            0% 90%); */
    background-size: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-color: blue;
    height: 100px;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

canvas#skin {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
}