div.start_menu {
    width: 380px;
    bottom: 30px;
    height: 480px;
    display: none;
    z-index: 10;
    position: absolute;
    background-image: url(/source/image/background/start_menu.png);
}

div.start_menu ul {
    top: 70px;
    left: 160px;
    position: absolute;
    list-style-type: none;
}

div.start_menu button.explorer {
    color: #0A246A;
    border: 0;
    height: 32px;
    padding: 8px 0px 8px 33px;
    font-size: 11px;
    font-weight: bold;
    border-color: transparent;
    background-size: 32px 32px;
    background-color: transparent;
    background-image: url(/source/image/icon/folder.png);
    background-repeat: no-repeat;
}